* {
  padding: 0;
  margin: 0;
  color: steelblue;
  background-color: rgb(156, 196, 220);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: start;
}

.card {
  padding: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.btn {
  padding: 0.5rem 3rem;
  font-size: 1.25rem;
  border-radius: 999px;
  color: #F2F2F2;
  background-color: steelblue;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  width: 30rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote_content {
  width: 100%;
  text-align: start;
}

.quote_author {
  font-weight: 700;
  width: 100%;
  text-align: end;
}

h1 {
  padding: 1rem;
}